*{
    padding: 0;
    margin: 0;
}

body{
  background: #C9A497;
}

.chuckjokes{
    background: #250C0C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 900px;
    height: 580px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3), 0 0 20px rgba(0, 0, 0, 0.3);
}

button{
    width: 200px;
    height: calc(1.33*35px);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    background: rgb(255, 217, 0);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

p{
width: 70%;
text-align: center;
margin: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
color: #FF7F50;
font-size: 2rem;
}

#emoji{
  font-size: 8rem; 
  position: absolute;
  left: 40%;
  top: 6%; 
}



